# INCLUDE ALL CUSTOM MACROS
[include ./nozzle_wipe.cfg]
[include ./purge_line.cfg]
[include ./print_start_end.cfg]
[include ./filament_load_unload_new.cfg]
[include ./movment.cfg]
[include ./speed_test.cfg]
#[include ./beeper.cfg]
[include ./power_macros.cfg]
[include ./vz_macros.cfg]
[include ./ellis_print_tuning_guide_macros.cfg]
